
<h2>Day 21 ­ Replacing hook_init / Doing something on every page</h2>
<h3>Excercise</h3>
<li>Build a custom module such that the below highlighted header is
  added to the page response only for Anonymous users.</li>
<p><a href="http://www.d8cards.com/sites/default/files/2016-05/Day%2021%20-%20Replacing%20hook_init%20%3A%20Doing%20something%20on%20every%20page-rev05132016.pdf">
    link to activity card.
  </a></p>
<h3>SOLUTION</h3>
<p>Open your site in incognito mode and compare the header to when you're logged in. </p>
