
<h2>Day 15 ­ Creating a Custom Field Formatter</h2>
<h3>Excercise</h3>
<p>Remember the “Movie” Content type that we created during the
migration exercise? Don’t worry if you don’t have that content type. On
any content type, create a Decimal field called Rating that accepts any
  decimal value between 0 and 5.</p>
<p>Now, we would like this field to be displayed in the form of stars (just
  like you would see the movie rating on any movie site).</p>
<p>The CSS and Star image that we would like to use are as described on
http://www.webcodingeasy.com/Webdesign/Display­simple­CSS­star­ra
  ting</p>
<p>In this exercise, you will build a custom field formatter for decimal
fields, which when selected for the display, will show the decimal value
(between 0 and 5) as a collection of stars. (Of course quantized at 0.5
  stars, as limited by the CSS we chose to implement).</p>
<p><a href="http://www.d8cards.com/sites/default/files/2016-05/Day%2015%20-%20Creating%20a%20Custom%20Field%20Formatter-rev05132016.pdf">Link to activity card.</a></p>

<h3>SOLUTION</h3>
<p>create a Decimal field called Rating that accepts any decimal value between 0 and 5 in content type
  movie then edit contents of type movie
 and fill Rating field value to see the result.</p>
