{{ attach_library('day15/rating_formatter_library') }}
<div class='rating_bar'>
  <!-- div element that contains full stars with percentage width,
  which represents rating -->
  <div  class='rating' style='width:{{ percentage }}%;'>
  </div>
</div>
