
<h2>Day 07 ­ Cron Queuing</h2>
<h3>Excercise</h3>
<p>● Build a module that sends a welcome email to registered users</p>
<p>● Use the Cron Queue by adding to the queue the user id
  whenever a user registers</p>
<p>● Create a queue worker that picks these queue items (uids)
during the cron and sends a welcome email (can be any simple
  text) to the registered email address.</p>

<h3>SOLUTION</h3>
<p>Look through the code of this module to get a good grasp and try adding new users under
People Tab, run cron and check.</p>
