
<h2>Day 13 ­ Logging in D8</h2>
<h3>Excercise</h3>
<p>● Build a small custom module, which adds to the “Recent Log
  Messages” a message of type “Node Updates” with the
  message “Node with title %NODE_TITLE% of type
  %NODE_TYPE% has been updated“ whenever a node is
  updated.</p>

<h3>SOLUTION</h3>
<p>Try editing a node and <a href="/admin/reports/dblog">click here to see log messages</a> </p>
