
<h2>Day 18 ­ Events and Subscribers</h2>
<h3>Excercise</h3>
<p>Implement a custom Event Dispatch and Subscription:</p>
<li>○ Modify the page_example module such that whenever the
“examples/page_example/simple” page is loaded, an event
  “simple_page_load” is dispatched</li>.
<li>○ In your custom module, subscribe to the earlier event.
Implement some custom code in your subscriber (Say make
an entry to database logging under “Simple Page” type with
the message “Simple Page Loaded”.al resources are a great read towards
  achieving this.</li>
<h3>SOLUTION</h3>
<p><a href="/examples/page-example/simple">click here to call simple method in src/Controller/PageExampleController.php</a> and after that check dblog messages.</p>
