
<h2>Day 10 ­ Configuring your local site for Development</h2>
<h3>Excercise</h3>
<p>● On your local D8 site, perform all the configuration changes
  mentioned on the primary video tutorial</p>
<h3>SOLUTION</h3>
<p>{{ "Since This is a practice excercise based on environment so no presentable output is available." | upper }}</p>
