
<h2>Day 04 ­ Migration 101</h2>
<h3>Excercise</h3>
<p>1. Create a movie content type with fields ­ Title (text),
Plot(Formatted Text), Actors (Node Reference), Genre(Term
  Reference)</p>
<p>2. Actors and Genres are simple content type and vocab
  respectively with no additional fields</p>
<p>3. Import the CSV dumps from here to populate the movie nodes
  in Drupal using Migrate API.</p>
<h3>Bonus Exercise</h3>
<p>● Let’s try some preprocessing while migrating. In the plot field of the movie, remove the
  word “the” (wherever it occurs, irrespective of the letter case).</p>
<p>● Add an Image field to the Movie content type. Update the migration script to use the
dump file with images. Re­run the migration such that the images are downloaded and
  attached to the movie nodes.</p>

<h3>SOLUTION</h3>
<p><a href={{ '/admin/content' }}>Click here to see the migrated content</a></p>
<p>or else run drush migrate commands from terminal</p>
