
<h2>Day 08 ­ Plugin System ­ Text Filters</h2>
<h3>Excercise</h3>
<p>● Create a custom text filter that could be added to any text
format, which auto­capitalizes pre­configured words anywhere
  they occur in the filtered text</p>
<p>● The filter has a configuration form that allows to configure the
  list of words that should be auto­capitalized</p>

<h3>SOLUTION</h3>
<p><a href="/admin/config/content/formats/manage/full_html">Click here to configure the words to be capitalised ,tick the Capitalize
    Filter and enter the words to be capitalized in Filter Settings below and then check after
    adding content with body text format as full html.</a></p>
