
<h2>Day 14 ­ Features Module in D8</h2>
<h3>Excercise</h3>
 <li> ● The UI of Features is NOT any drastically different on D8 from
  what it was in D7. This should be an easy one. ­ Enable
  Features UI module. Export a content type to a Feature Module.</li>
 <li> ● Although Features in D7 allowed mentioning the Package Name
  for the Feature export, the D8 Features has more sophisticated
  Bundles. Explore.</li>
<li> ● Discuss and make an attempt to understand what are the
  assignment plugins and how they work with bundles. (The
  Phase2 Blog link in Addl Resources Below is a great read for
  this).</li>
<li> ● And most importantly discuss and understand when you would
  use CMI vs When you would use Features, and if they can
  co­exist on a site?</li>
<li> ● Read through the help text on
  /admin/config/development/features/bundle . Try creating a new
  bundle on this page.</li>
<li> ● Make an attempt to attach the feature you created earlier to the
  bundle that you just created.</li>
<li> ● Understand how “Download Archive” is different from “Write”.
  Nothing new here. Just the names were changed from D7.</li>
<li> ● Explore the “Include install profile” option available in Bundle
  Management</li>
<li> ● Explore the assignment methods available for bundles @
  admin/config/development/features/bundle and their
  significance.</li>

<h3>SOLUTION</h3>
<p>{{ "Since This is a practice excercise based on environment so no presentable output is available." | upper }}</p>
