
<h2>Day 11 ­ Creating a Custom D8 Content Entity Type</h2>
<h3>Excercise</h3>
<p>● Create a custom content entity type called “Contact” with the
  following fields:</p>
<li>○ Name</li>
<li>○ Email Address</li>
<li>○ Telephone</li>
<li>○ Address</li>
<p>● Build / Provide a minimal CRUD management page to manage
  the custom contact entities</p>
<p>● Explore why would you even want to define a custom entity type
  vs using a Content Type</p>

<h3>SOLUTION</h3>
<p><a href="/admin/structure">click here and view contact entity settings and contact entity list.</ahref> here
,you would be able to add entites of type contact_entity under Contact Entity list.</p>
