
<h2>Day 01 - Configuration Management in D8</h2>
<h3>Excercise</h3>
<p>1. Setup 2 local D8 instances. Call one site ­ Dev and the other ­
Prod (Clone the dev site to prod, rather than setting them up
  individually. Research issues with mismatching UUIDs)</p>
<p>2. Create a simple content type (say Book) with 2 fields (Title,
  ISBN) and create 2 nodes of content on Dev</p>
<p>3. Build a simple view (of page type, accessible at the url /list)
  listing the book nodes</p>
<p>4. Export the site configuration using Drush (which includes the
content type and the view) using drush cex command or Drupal
  Console using drupal ce</p>
<p>5. Copy the exported files to same directory on Prod site
  simulating a code pull from upstream repo.</p>
<p>6. Import the configuration using drush cim on prod site or drupal
  ci. Verify the content type and view are available on Prod.</p>

<h3>SOLUTION</h3>
<p>{{ "Since This is a practice excercise accross environments so no presentable output is available." | upper }}</p>
