
<h2>Day 12 ­ Theming 101</h2>
<h3>Excercise</h3>
<p>● Generate a new theme with “stable” as the base theme using
  Drupal console.</p>
<p>● Define 3 regions (sidebar1, content, sidebar2 while generating
  the theme)</p>
<p>● Turn on Twig Debugging to see the template names in use, as
well as template name suggestions (This is covered in our Day
  10 course) in the view source.</p>
<p>● Override page.html.twig in your theme such that the 3 columns
  in the page are rendered as below:</p>
<p><a href="http://www.d8cards.com/sites/default/files/2016-05/Day%2012%20-%20Theming%20101-rev05132016.pdf"> link to activity card to show pic.</a></p>

<h3>SOLUTION</h3>
<p><a href="/admin/appearance">click here to set theming 101 as default theme and visit homepage to see
  the desired result.</a></p>
