
<h2>Day 06 - Services and Dependency Injection</h2>
<h3>Excercise</h3>
This is not a Drupal API to have an exercise for itself. But a way of writing code. And if
we learn it right all further exercises would themselves be an exercise for this topic. So
take some additional time in going through this video series instead of an exercise
dedicated for this topic. I have done this series and found it to be the best one I could
come across in explaining the concepts of Dependency Injection and Services to
anyone who is new to Object Oriented Programming!
Don’t be scared by the long list below. All of them are 3 minutes or shorter. And
d.me allows you to watch the videos at 1.5x speed which is probably the speed at
which this group will watch most of their videos at. The whole playlist should not take
more than 20 mins.
<p><a href="http://www.d8cards.com/sites/default/files/2016-05/Day%2006%20-%20Services%20and%20Dependency%20Injection-rev05132016.pdf">Link to activity card and videos</a></p>

<h3>SOLUTION</h3>
<p>{{ "Since This is a practice excercise for learning so no presentable output is available." | upper }}</p>
