
<h2>Day 09 ­ Attaching assets (css/js) on D8</h2>
<h3>Excercise</h3>
<p>● Create a custom module and add a CSS and JS file in
  appropriate subdirectories in the module.</p>
<p>● Create a libraries.yml file and define 2 libraries ­ one for each of
  the CSS and JS</p>
<p>● Attach the CSS such that it is loaded for all Table elements
  shown anywhere on the site. Hint</p>
<p>● Take any custom block that you have built over the previous
exercises. Modify the build() to attach the JS to be loaded
  whenever the block is displayed. Hint</p>

<h3>SOLUTION</h3>
<p><a href="/admin/structure/block">check for css (skyblue backgound) applied to table element</a></p>
<p>Add any 5 contents and place Day9 Example block at homepage , Day9.js will be loaded.</p>
